h1{
    text-align: center;
}
.h2{
    text-align: left;
}
.red{
    color: red;
}
#yellow{
    color: yellow;
}
.h22{
    text-align: left;
    color: green;
}
.darkyellow {
    color: yellow;
}
.h222{
    text-align: left;
    color: green;
}
.redd{
    color: red;
}