#div1{
    background-color: green;
    max-width: ;
    height: 20px;
}
#div2{
    font-size: 600%;
   text-align: center;
   font-weight: 900;
   
}
#div3{
  margin-left: 350px;
  font-size: 120%;
  font-weight: 900;
}
#div4{
    margin-left: 350px;
    margin-right: 350px;
}